@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.header {
  @include horizontal-flex;

  padding: 1rem 5rem;
  border-radius: 1rem;
  width: 100%;
  pointer-events: none;
  text-shadow: 0 0 2rem rgba($color: black, $alpha: 0.25);
  justify-content: space-between;
  align-items: center;

  > section {
    flex: 1;
  }

  .logo {
    @include horizontal-flex;

    align-items: center;
    justify-content: left;
    gap: 1rem;
    font-size: 3rem;

    .credit {
      font-size: 2rem;
      font-family: 'VT323', monospace;
      font-weight: 400;
      font-style: normal;

      .gradient {
        display: inline-block;
        background: linear-gradient(45deg, #31d169, #e2cd76, #f35959);
        background-clip: text;
        -webkit-background-clip: text;
        color: #31d169;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
      }
    }

    svg {
      position: relative;
      bottom: 0.3rem;
    }
  }

  .attribution {
    @include horizontal-flex;
    @include center-flex;

    font-size: 2.4rem;
    font-weight: bold;
    color: #158f41;
    gap: 1rem;

    svg {
      position: relative;
      bottom: 0.2rem;
    }
  }

  .links {
    @include horizontal-flex;

    align-items: center;
    justify-content: right;
    gap: 2rem;
    font-size: 2.4rem;
    color: $body-text;

    a {
      pointer-events: all;
      transition: color 0.15s ease;

      &:hover {
        color: $title-text;
      }
    }
  }
}
