@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin horizontal-flex {
  display: flex;
  flex-direction: row;
}

@mixin vertical-flex {
  display: flex;
  flex-direction: column;
}

@mixin rounded {
  border-radius: 4px;
}

@mixin gradient-background($duration: 100s) {
  background: radial-gradient(
    circle,
    rgba(121, 9, 114, 1) 15%,
    rgba(210, 35, 110, 1) 45%,
    rgba(0, 40, 48, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient-shift $duration ease infinite;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
