@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Mina', sans-serif;
  font-weight: 400;
  font-style: normal;

  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
}

button {
  background-color: unset;
  font-size: inherit;
  border: unset;
  outline: unset;
  color: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
