.container {
  width: 100%;
  height: 100%;
}

.overlay {
  @include vertical-flex;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2vh 1vw;
  height: 100%;
  justify-content: space-between;
  pointer-events: none;

  .header,
  .footer {
    pointer-events: initial;
    width: 100%;
    padding: 1rem 5rem;
    background-color: $body-background;
    border-radius: 1rem;
  }

  .footer {
    @include horizontal-flex;
    @include gradient-background;

    section {
      flex: 1;
      max-width: calc(100% / 3);
    }

    .track-info {
      @include horizontal-flex;
      align-items: center;
      gap: 2rem;

      .track-image {
        width: 60px;
        height: 60px;
      }

      .info-panel {
        @include vertical-flex;

        overflow-x: hidden;
        justify-content: center;
        padding-right: 5rem;

        .name {
          width: 100%;
          text-wrap: nowrap;
          text-overflow: ellipsis;
          overflow-x: hidden;
          font-size: 2rem;
          color: $title-text;
        }

        .artists {
          font-size: 1.4rem;
          color: $body-text;

          width: 100%;
          text-wrap: nowrap;
          text-overflow: ellipsis;
          overflow-x: hidden;
        }
      }
    }

    .track-controls {
      @include vertical-flex;

      justify-content: center;
      gap: 1rem;
      align-items: center;

      .top-row {
        @include horizontal-flex;

        width: 100%;
        justify-content: space-between;
        align-items: end;

        .time-label {
          width: 5rem;
          color: $body-text;

          &:first-of-type {
            text-align: left;
          }

          &:last-of-type {
            text-align: right;
          }
        }

        .buttons {
          @include horizontal-flex;
          gap: 1rem;
          font-size: 2rem;
        }
      }
    }

    .misc-controls {
      @include horizontal-flex;

      align-items: center;
      justify-content: end;

      font-size: 2rem;
    }
  }
}
